.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formContainer {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}

.formGroup {
    margin-bottom: 16px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #4a5568;
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
}

.passwordContainer {
    position: relative;
}

.forgotPassword {

    right: 0;
    top: 0;
    font-size: 14px;
    color: #48bb78;
    text-decoration: none;
}

.flex {
    display: flex;
    gap: 140px;
}

.errorMessage {
    color: #e53e3e;
    font-size: 12px;
    margin-top: 8px;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.checkboxLabel {
    margin-left: 8px;
    color: #4a5568;
}

.continueButton {
    width: 100%;
    background-color: #48bb78;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.signUpContainer {
    text-align: center;
    margin-top: 16px;
}

.signUpButtons {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.signUpButton {
    background-color: #edf2f7;
    padding: 8px 16px;
    margin: 0 8px;
    border-radius: 4px;
    border: 1px solid #cbd5e0;
    cursor: pointer;
}

.signUpLinkContainer {
    text-align: center;
    margin-top: 24px;
}

.signUpLink {
    color: #48bb78;
    text-decoration: none;
    font-size: 14px;
}